{% extends "base.html" %}
{% block title %}Color palette extractor from imag{% endblock %}
        
{% block head %}
    {{ super() }}
        <style lang="scss">
            .dropbox {
              outline: 2px dashed grey; /* the dash box */
              outline-offset: -10px;
              /*background: lightcyan;*/
              background: #d4dfb4;
              color: dimgray;
              padding: 10px 10px;
              min-height: 200px; /* minimum height */
              position: relative;
              cursor: pointer;
            }
            
            .input-file {
              opacity: 0; /* invisible but it's there! */
              width: 100%;
              height: 200px;
              position: absolute;
              cursor: pointer;
            }
            
            .dropbox:hover {
              /*background: lightblue; */
              background: #d4dfb4;
            }
            
            .dropbox p {
              font-size: 1.2em;
              text-align: center;
              padding: 50px 0;
            }
            .palette_color_div {
              height:40px; 
              width:200px;
            }
            .invert_filter {
              filter: invert(26%);
            }
          </style>

    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>

{% endblock %}
    
{% block content%}
      
      <div class="container-fluid" id="app">
        <div class="container">

        
          <h1>Color palette extractor from image</h1> 


        <!--UPLOAD-->
        <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
            <p>Upload image here to extract the color palette:</p>
            <div class="dropbox">
              <!--for multiple files, just add the multiple attribute:-->
              <!--<input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"-->
              <input type="file" :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                accept="image/*" class="input-file">
                <p v-if="isInitial">
                Drag your image here to begin<br> or click to browse
                </p>
                <p v-if="isSaving">
                Uploading [[ fileCount ]] files...
                </p>
            </div>
        </form>

        <!--SUCCESS-->
        <div v-if="isSuccess">
          <h2>Uploaded [[uploadedFiles.length ]] file(s) successfully.</h2>
          <p>
              <a href="javascript:void(0)" @click="reset()">Upload again</a>
          </p>

          <div class="row">
            <div class="col">
              <ul class="list-unstyled">
                  <li v-for="item in uploadedFiles">
                  <img :src="getImgUrl(item)" class="img-responsive img-thumbnail img-max-50"  :alt="item.originalName">
                  </li>
              </ul>
            </div>
            <div class="col">
              Color palette of the image:
              


              <div v-if="colorPaletteDetected">
                  <div v-for="color in colorPalette">
                    <div :style="{'background-color':color}" class="rounded  d-inline-block p-2 m-1 palette_color_div text-center">
                      <span :style="{'color': detectTextColorForBg(color)}" class="text-center my-auto">[[color]]</span></div>
                    </div>
                  
              </div>
              <div v-else>
                Loading...
              </div>
      
            </div>
          </div>
        </div>
        <!--FAILED-->
        <div v-if="isFailed">
        <h2>Uploaded failed.</h2>
        <p>
            <a href="javascript:void(0)" @click="reset()">Try again</a>
        </p>
        <pre>[[uploadError ]]</pre>
        </div>

        <script src="" async defer></script>

        </div>



      </div>
    
    {% endblock %}

    {% block scripts %}
    <!-- hack to import axios: -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="module">
        import { createApp } from 'vue'
        import { upload } from "{{ url_for('static', path='/js/file-upload.service.js') }}";
        import { perform_extract_colors } from "{{ url_for('static', path='/js/palette_extractor.service.js') }}";

        const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;


        createApp({
            data() {
                return{
                    message: 'Color palette extractor from image!!!',
                    uploadedFiles: [],
                    uploadError: null,
                    currentStatus: null,
                    uploadFieldName: 'images',
                    colorPaletteDetected: false,
                    colorPalette: []
                }
            },
            computed: {
                isInitial() {
                  return this.currentStatus === STATUS_INITIAL;
                },
                isSaving() {
                  return this.currentStatus === STATUS_SAVING;
                },
                isSuccess() {
                  return this.currentStatus === STATUS_SUCCESS;
                },
                isFailed() {
                  return this.currentStatus === STATUS_FAILED;
                }
              },
              methods: {
                reset() {
                  // reset form to initial state
                  this.currentStatus = STATUS_INITIAL;
                  this.uploadedFiles = [];
                  this.uploadError = null;
                },
                save(formData) {
                  // upload data to the server
                  this.currentStatus = STATUS_SAVING;
          
                  upload(formData)
                    .then(x => {
                        console.log("x:", x);
                      this.uploadedFiles = [].concat(x);
                      this.currentStatus = STATUS_SUCCESS;
                      console.log("uploaded files:", this.uploadedFiles[0]);
                      this.extract_palette_colors(this.uploadedFiles[0]);
                    })
                    .catch(err => {
                        console.log("error!", err);
                      this.uploadError = err.response;
                      this.currentStatus = STATUS_FAILED;
                    });
                },
                filesChange(fieldName, fileList) {
                  // handle file changes
                  const formData = new FormData();
          
                  if (!fileList.length) return;
          
                  // append the files to FormData
                  Array
                    .from(Array(fileList.length).keys())
                    .map(x => {
                      formData.append(fieldName, fileList[x], fileList[x].name);
                    });
          
                  // save it
                  this.save(formData);
                },
                getImgUrl(img) {
                    return img.url;
                },
                extract_palette_colors(img_src) {
                  perform_extract_colors(img_src) 
                    .then(x => {
                      console.log("x:", x);
                      console.log("colors:", x.data.colors);
                      this.colorPaletteDetected = true;
                      this.colorPalette = x.data.colors;
                    })
                },
                detectTextColorForBg(hex) {
                  if (hex.indexOf('#') === 0) {
                    hex = hex.slice(1);
                  }
                  // convert 3-digit hex to 6-digits.
                  if (hex.length === 3) {
                      hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
                  }
                  if (hex.length !== 6) {
                      throw new Error('Invalid HEX color.');
                  }
                  // invert color components
                  var red = (255 - parseInt(hex.slice(0, 2), 16)).toString(16),
                      green = (255 - parseInt(hex.slice(2, 4), 16)).toString(16),
                      blue = (255 - parseInt(hex.slice(4, 6), 16)).toString(16);
                  //if ((red*0.299 + green*0.587 + blue*0.114) > 186) {
                  if ((red*0.299 + green*0.587 + blue*0.114) > 120) {
                    return "#000000";
                  }
                  return "#ffffff";
                }


              },
              mounted() {
                this.reset();
              },
            delimiters: ['[[',']]']   // changed vue delimiters not to be the same as jinja2 templating
          }).mount('#app')

    </script>
    {% endblock %}

