{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- can add here more styles -->
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>Random image for inspiration</h1>
        <div class="mx-auto my-auto text-center">
           <!-- <p class="important">
            Here is your random image:
            </p>-->
            <img src="https://picsum.photos/700/500">
        </div>
        <div class="mt-1 mb-1 text-center">
            <button type="button" class="btn btn-secondary" onclick="document.location.reload()"><i class="bi bi-arrow-counterclockwise"></i>
                Try again</button>
        </div>
    </div>
{% endblock %}