{% extends "base.html" %}
{%block title%}Random challenge for artists {%endblock%}
{% block head %}
    {{ super() }}
    <!-- can add here more styles -->
    <style>
        .img-full-height {
            height: 56vh;
            max-width:100vw;
        }
        .centered-on-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .challenge-text {
            color: #2a3640;
        }
        .challenge-img-bg {
            position:relative;
        }
        .animal-style {
            font-weight:bold;
            color:#704d2e;
        }
        .env-style {
            font-weight:bold;
            color:#704d2e;
        }
        .style-style {
            font-weight:bold;
            color: #704d2e;
        }
        
    </style>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>

{% endblock %}

{% block content %}
    <div class="container" id="app">
        <h1>Random challenge for artists</h1>
        <p class="important">
            Click on the button to generate a random challenge for painting!
        </p>
        <button type="button" class="btn btn-outline-success btn-lg" @click=generateChallenge()>I'm ready for the challenge!</button>

        
        <div id="challenge" v-if="challengeGenerated"> 
            <div class="text-center mx-auto challenge-img-bg" >
                <img src="{{url_for('static', path='/img/paper2_2.jpg')}}" class="img img-responive img-full-height">

                
                <div class="centered-on-img challenge-text h2"> Make a painting of <span class="animal-style">[[challengeSubject]]</span> in the environment of 
                    <span class="env-style">[[challengeEnv]]</span> in the style of <span class="style-style">[[challengeStyle]]</span> </div>

            </div>

            <p> Read more about artistic styles <a href="https://magazine.artland.com/art-movements-and-styles/"  target="_blank">here</a></p>
            <p v-if="animalSearchLink">Don't know how the animal looks? See it <a :href="[[animalSearchLink]]" target="_blank">here</a></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}

  <!-- hack to import axios: -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="module">
        import { createApp } from 'vue'

        import { get_rand_challenge } from "{{ url_for('static', path='/js/get_random_challenge.service.js') }}";
        createApp({
            data() {
                return{
                    message: "test",
                    challengeGenerated: false,
                    challengeAnimal: "",
                    challengeEnv: "",
                    challengeStyle: "",
                    animalSearchLink: "",
                }
            },
            computed: {

            },
            methods: {
                generateChallenge() {
                    get_rand_challenge() 
                    .then(x => {
                        console.log("x:", x);
                        this.challengeSubject = x.data.subject;
                        this.challengeSubjType = x.data.subject_type;
                        this.challengeEnv = x.data.environment;
                        this.challengeStyle = x.data.style;
                        this.challengeGenerated = true;

                        if (this.challengeSubjType=="animal"){
                            this.animalSearchLink = this.getAnimalSearchLink(this.challengeAnimal);
                        }
                    })
                
                },
                getAnimalSearchLink(animal) {
                    //return 'https://lmgtfy.app/?q=' + animal;
                    return 'https://letmegooglethat.com/?q=' + animal;
                }

            },
            mounted() {
            },
            delimiters: ['[[',']]']   // changed vue delimiters not to be the same as jinja2 templating
          }).mount('#app')

    </script>
{% endblock %}